@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/animations';
@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.bg {
  background-color: $yellow-primary;
}

.fadeInBg {
  @include fadeIn(fade-in-bg,0,0);
  animation: fade-in-bg ease-out 500ms;
}

h1, span {
  font-weight: 700;
  font-size: $bg-mobile-size;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: $dark-primary;
}
.marquee_container {
  position: relative;
  text-align: center;
  height: $marquee-height-mobile;
  line-height: $marquee-height-mobile;
  @include tablet {
    height: $marquee-height-tablet;
    line-height: $marquee-height-tablet;
    h1,span {
      font-size: $bg-tablet-size;
    }
  }  
  @include desktop {
    height: $marquee-height-desktop;
    line-height: $marquee-height-desktop;
    h1,span {
      font-size: $bg-desktop-size;
    }
  }
  @include desktop-l {
    height: $marquee-height-desktop-l;
    line-height: $marquee-height-desktop-l;
    h1,span {
      font-size: $bg-desktop-l-size;
    }
  }
  @include desktop-xl {
    height: $marquee-height-desktop-xl;
    line-height: $marquee-height-desktop-xl;
    h1,span {
      font-size: $bg-desktop-xl-size;
    }
  }
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  
  &.marquee2 span{
    &.rtl {
      animation-delay: -120s;
    }
    &.ltr {
      animation-delay: -120s;
    }
  }
  span {
    opacity: .05;
    display: inline-block;
    padding-left: 100%;
    margin: 0 2rem;
    word-spacing: 2rem;
    animation: animateLTR 240s linear infinite;
    &.rtl {
      animation: animateRTL 240s linear infinite;
    }
    &.ltr {
      animation: animateLTR 240s linear infinite;
    }
  }
}
