* {
  overflow: hidden;
}

h1, span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.marquee_container {
  position: relative;
  height: 4.5rem;
}

.marquee {
  opacity: 5%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

// TODO: Figure out how to make text scroll LTR
.marquee span {
  display: inline-block;
  // padding-right: 100%;
  padding-left: 100%;
  animation: marquee 60s linear infinite;
  margin-right: .5em;
}

.marquee2 span {
  animation-delay: -30s;
}

@keyframes marquee {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(-100%, 0);
    // transform: translate(+100%, 0);
  }
}

