@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/animations';
@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';


.sendFront {
  z-index: 5;
}
.sendBack {
  z-index: 3;
}

.xbtn_container {
  display: flex;
  flex: 2;
  button.btn {
    margin-top: 1rem;
    margin-left: auto; 
    margin-right: 1rem;
    direction: rtl;
    color: $dark-primary;
    font-size: $mobile-btn-size;
    font-weight: 900;
    background-color: $light-primary;
    width: 2.25em;
    height:2.25em;
    border-radius: 50px;
    border: .2em solid $dark-primary;
    filter: drop-shadow(0 .3em 0 $dark-primary);
    transform: translate(0, 0);
    transition: all 350ms 150ms;
    &:focus {
      outline: $light-primary solid;
    }
  
    &:hover {
      cursor: pointer;
    }
  
      &:hover,&:active,&:focus   {
        background-color: darken($light-primary, 20%);
        filter: drop-shadow(0 .1em 0 $dark-primary);
        transform: translate(0, .2em);
        transition: all 300ms;
      }
  }
}

$randomLeft: random(100);
$randomTop: random(100);

.window_container {
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .window_main {
    h2{
    padding: 0 1rem;
    font-size: 1.75rem;
    height: 1.75rem;
    font-weight: 900;
    color: $dark-primary;
    }
    background-color: turquoise;
    color: $dark-primary;
    font-size: $mobile-btn-size;
    background-color: $light-primary;
    border-radius: 25px;
    border: .2em solid $dark-primary;
    filter: drop-shadow(0 .3em 0 $dark-primary);
    transform: translate(0, 0);
    transition: all 350ms 150ms;

    .row {
      display: flex;
      flex-basis: 100%;
      flex-direction: row;
    }
    .col {
      display: flex;
      flex-basis: 100%;
      flex-direction: column;
    }
    p {
      -webkit-touch-callout: all;
      -webkit-user-select: all;
      -khtml-user-select: all;
      -moz-user-select: all;
      -ms-user-select: all;
      user-select: all;
      flex-direction: column;
      font-weight: 500;
      margin: 1em;
    }
  }
}