@keyframes animateLTR {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes animateRTL {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

$translate-y-40: .15em;
$translate-y-60: .05em;
$translate-y-80: .015em;
@mixin bounce($name,$x, $y) {
  @keyframes #{$name} {
    0%, 100% {
      -webkit-transform: translate($x, $y);
      transform: translate($x, $y);
    }
    40% {
      -webkit-transform: translate($x, CALC($y - $translate-y-40));
      // transform: translate($x, CALC($y - 1.5rem));
      transform: translate($x, CALC($y - $translate-y-40));
    }
    60% {
      -webkit-transform: translate($x, CALC($y - $translate-y-60));
      // transform: translate($x, CALC($y + .5rem));
      transform: translate($x, CALC($y + $translate-y-60));
    }
    80% {
      -webkit-transform: translate($x, CALC($y - $translate-y-80));
      // transform: translate($x, CALC($y - .25rem));
      transform: translate($x, CALC($y - $translate-y-80));
    }
  }
}

@mixin fadeIn($name, $x, $y) {
  @keyframes #{$name} {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0;
    }
    20% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translate($x, $y);
      transform: translate($x, $y);
      opacity: 1;
    }
  }
}
