$desktop-xlarge: 3800px;
$desktop-large: 2500px;
$desktop-default: 960px;
$tablet-default: 760px;
$mobile-default: 375px;

@mixin desktop-xl {
  @media (min-width: #{$desktop-xlarge}) {
    @content;
  }
}

@mixin desktop-l {
  @media (min-width: #{$desktop-large}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-default}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-default}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile-default}) {
    @content;
  }
}

@mixin transition($transitions...) {
  $unfoldedTransitions: ();
  @each $transition in $transitions {
    $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
  }
  -webkit-transition: $unfoldedTransitions;
  transition: $unfoldedTransitions;
}
