
// ============ //
//    MOBILE    //
// ============ //
$h1-mobile-size: 6rem;
$bg-mobile-size: 2rem;

$marquee-height-mobile: 5rem;

$mobile-translate-x: 0;
$mobile-translate-y: .4em;

$mobile-btn-size: 1.25rem;

$btn-width-mobile: 95vw;



// ============ //
//    TABLET    //
// ============ //
$h1-tablet-size: 8rem;
$bg-tablet-size: 2.25rem;

$marquee-height-tablet: 5rem;

$tablet-translate-x: 1.05em;



// ============ //
//   DESKTOP    //
// ============ //
$h1-desktop-size: 10rem;
$desktop-btn-size: 1.75rem;
$bg-desktop-size: 2.5rem;

$marquee-height-desktop: 6rem;
$desktop-translate-x: 1.05em;

$btn-width-desktop: 10em;


// ============ //
//  DESKTOP-L   //
// ============ //
$h1-desktop-l-size: 14rem;
$bg-desktop-l-size: 3rem;
$marquee-height-desktop-l: 8rem;

$desktop-l-translate-x: 1.05em;


// ============ //
//  DESKTOP-XL  //
// ============ //
$h1-desktop-xl-size: 20rem;
$bg-desktop-xl-size: 4rem;

$desktop-xl-translate-x: 1.05em;
$marquee-height-desktop-xl: 12rem;

