@import '../../../styles/abstracts/colors';
@import '../../../styles/abstracts/animations';
@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.skill_container {
  padding: .2em;
  display: flex;
  .skill {
    font-size: 1.75rem; // change this, make special vars
    padding: .3em;
    font-weight: 900;
    width: 6.5em;
    border-radius: 4em;
    background-color: darken($light-primary, 8%);
    color: $dark-primary;
    text-align: center;
    @include desktop {
    font-size: $mobile-btn-size; // change this, make special vars
    }
  }
}