@import '../styles/abstracts/colors';
@import '../styles/abstracts/animations';

.App {
    min-height: 100vh;
    .name-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 200px;
            font-weight: 900;
            color: $dark-primary;
            grid-column: 1;
            grid-row: 1;
            align-self: center;
            justify-self: center;
            -webkit-text-stroke: 5px;
          }
          h1.firstName {
            @include fadeIn(fadeIn-1,-13rem);
            /* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
            animation: 1000ms ease-in-out 500ms fadeIn-1;
            z-index: 2;
            color: $yellow-primary;
            -webkit-text-stroke-color: $dark-primary;
            transform: translateX(-13rem);
            &:hover {
              @include bounce(bounce-1,-13rem);
              animation: bounce-1 1s;
            }
        }
        h1.lastName {
            @include fadeIn(fadeIn-2,13rem);
            animation: 1000ms ease-in-out 500ms fadeIn-2;
            z-index: 1;
            transform: translateX(13rem);
            &:hover {
              @include bounce(bounce-2, 13rem);
              animation: bounce-2 1s;
            }
        }
    }
}

.bg-container {
    overflow: hidden;
    z-index: -2;
    inset: 0;
    position: absolute;
}