@import '../styles/abstracts/colors';
@import '../styles/abstracts/animations';
@import '../styles/abstracts/mixins';
@import '../styles/abstracts/variables';

.App {
  min-height: 100vh;
  .content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr .5fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .title-container {
      display: grid;
      justify-content: center;
      align-items: center;
      .pro-title {
        margin-top: 2rem;
        @include tablet {
          margin-top: .2rem;
        }
        ProfessionalTitle {
          @include fadeIn(fadeIn-pro-title,0,0);
        }
      }
    }

    h1 {
        margin: 0;
        font-size: $h1-mobile-size;
        height: $h1-mobile-size;
        font-weight: 900;
        color: $dark-primary;
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center;
        -webkit-text-stroke: .03em;
        @include tablet {
          font-size: $h1-tablet-size;
          height: $h1-tablet-size;
        }
        @include desktop {
          font-size: $h1-desktop-size;
          height: $h1-desktop-size;
        }
        @include desktop-l {
          font-size: $h1-desktop-l-size;
          height: $h1-desktop-l-size;
        }
        @include desktop-xl {
          font-size: $h1-desktop-xl-size;
          height: $h1-desktop-xl-size;
        }
    }
    h1.firstName {
      z-index: 2;
      transform: translate(-$mobile-translate-x,-$mobile-translate-y);
      color: $yellow-primary;
      -webkit-text-stroke-color: $dark-primary;
      &.fadeIn {
        @include fadeIn(fadeIn-1,-$mobile-translate-x,-$mobile-translate-y);
        animation: 1000ms ease-in-out fadeIn-1;
        @include tablet {
          @include fadeIn(fadeIn-1,-$tablet-translate-x, 0);
        }
        @include desktop {
          @include fadeIn(fadeIn-1,-$desktop-translate-x, 0);
        }
        @include desktop-l {
          @include fadeIn(fadeIn-1,-$desktop-l-translate-x, 0);
        }
        @include desktop-xl {
          @include fadeIn(fadeIn-1,-$desktop-xl-translate-x, 0);
        }
      }
      &.bouncing {
        @include bounce(bounce-1,-$mobile-translate-x,-$mobile-translate-y);
        animation: 1000ms bounce-1 100ms;
        @include tablet {
          @include bounce(bounce-1, -$tablet-translate-x, 0);
        }
        @include desktop {
          @include bounce(bounce-1, -$desktop-translate-x, 0);
        }
        @include desktop-l {
          @include bounce(bounce-1, -$desktop-l-translate-x, 0);
        }
        @include desktop-xl {
          @include bounce(bounce-1, -$desktop-xl-translate-x, 0);
        }
      }
      @include tablet {
        transform: translate(-$tablet-translate-x, 0);
      }
      @include desktop {
        transform: translate(-$desktop-translate-x, 0);
      }
      @include desktop-l {
        transform: translate(-$desktop-l-translate-x, 0);
      }
      @include desktop-xl {
        transform: translate(-$desktop-xl-translate-x, 0);
      }
    }
    h1.lastName {
      z-index: 1;
      transform: translate($mobile-translate-x, $mobile-translate-y);
      &.fadeIn {
        @include fadeIn(fadeIn-2,$mobile-translate-x, $mobile-translate-y);
        animation: 1000ms ease-in-out fadeIn-2;
        @include tablet {
          @include fadeIn(fadeIn-2,$tablet-translate-x, 0);
        }
        @include desktop {
          @include fadeIn(fadeIn-2,$desktop-translate-x, 0);
        }
        @include desktop-l {
          @include fadeIn(fadeIn-2,$desktop-l-translate-x, 0);
        }
        @include desktop-xl {
          @include fadeIn(fadeIn-2,$desktop-xl-translate-x, 0);
        }
      }
      &.bouncing {
        @include bounce(bounce-2, $mobile-translate-x,$mobile-translate-y);
        animation: 1000ms bounce-2 100ms;
        @include tablet {
          @include bounce(bounce-2, $tablet-translate-x, 0);
        }
        @include desktop {
          @include bounce(bounce-2, $desktop-translate-x, 0);
        }
        @include desktop-l {
          @include bounce(bounce-2, $desktop-l-translate-x, 0);
        }
        @include desktop-xl {
          @include bounce(bounce-2, $desktop-xl-translate-x, 0);
        }
      }
      @include tablet {
        transform: translate($tablet-translate-x, 0);
      }
      @include desktop {
        transform: translate($desktop-translate-x, 0);
      }
      @include desktop-l {
        transform: translate($desktop-l-translate-x, 0);
      }
      @include desktop-xl {
        transform: translate($desktop-xl-translate-x, 0);
      }
    }
  }

  .btns-container {
    height: 400px;
  }
  
  .bg-container {
      // @include fadeIn(fadeIn-bg,0, 0);
      // animation: 1000ms ease-in-out fadeIn-bg;
      background-color: $yellow-primary;
      overflow: hidden;
      z-index: -2;
      inset: 0;
      position: absolute;
  }
}
