@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/animations';
@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';

.skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  @include desktop {
    width: 40em;
  }
}