@import '../../styles/abstracts/colors';
@import '../../styles/abstracts/animations';
@import '../../styles/abstracts/mixins';
@import '../../styles/abstracts/variables';

.btn_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: .5rem 0;
  button.btn {
    color: $dark-primary;
    font-size: $mobile-btn-size;
    font-weight: 900;
    background-color: $light-primary;
    width: 95vw;
    height:2.25em;
    border-radius: 25px;
    border: .2em solid $dark-primary;
    filter: drop-shadow(0 .25em 0 $dark-primary);
    transform: translate(0, 0);
    transition: all 500ms 100ms;

    @include desktop {
      font-size: $desktop-btn-size;
      width: $btn-width-desktop;
      border-radius: 50px;
  }

  &:focus {
    outline: $light-primary solid;
  }

    &:hover,&:active,&:focus   {
      background-color: darken($light-primary, 8%);
      filter: drop-shadow(0 .1em 0 $dark-primary);
      transform: translate(0, .2em);
      transition: all 500ms;
    }
  }
}
