@import '../../../styles/abstracts/colors';
@import '../../../styles/abstracts/animations';
@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

  button.btn {
    font-size: $mobile-btn-size;
    color: $dark-primary;
    font-weight: 900;
    background-color: $light-primary;
    width: 95vw;
    height:2.25em;
    border-radius: 25px;
    border: .2em solid $dark-primary;
    filter: drop-shadow(0 .3em 0 $dark-primary);
    transform: translate(0, 0);
    transition: all 350ms 150ms;

    @include desktop {
      font-size: $desktop-btn-size;
      width: $btn-width-desktop;
      border-radius: 50px;
    }

    &:focus {
      outline: $light-primary solid;
    }

    &:hover {
      cursor: pointer;
    }

    &:hover,&:active,&:focus   {
      background-color: darken($light-primary, 20%);
      filter: drop-shadow(0 .1em 0 $dark-primary);
      transform: translate(0, .2em);
      transition: all 300ms;
    }
  }